doctype
html(lang="ru-RU")
	include ../common/head.jade
body
	.wrapper
		.main-content
			<!-- / ========= header ========= \ -->
			.content
				.container
					<!-- / ========= sidebar ========= \ -->
					include ../common/navigation
					<!-- / ========= page-content Изменяемый контент ========= \ -->
					.page-content
						<!-- / ========= Изменяемая часть каждой страницы ========= \ -->
						block content
	<!-- / ========= footer ========= \ -->
	include ../common/footer.jade
