doctype
html(lang="ru-RU")
	include ../common/head.jade
body
	.wrapper
		.main-content
			<!-- / ========= header ========= \ -->
			include  ../common/header.jade
			block content
	<!-- / ========= footer ========= \ -->
	include ../common/footer.jade
