extends ../layouts/main-layout.jade

block title
    title Hipsweet

block content
    include ../sections/feature
    include ../sections/our-offers
    include ../sections/our-team
    include ../sections/questions
    include ../sections/map
