.gallery
    .gallery__left
        .gallery__left-outer
            .gallery__ingredients
                .gallery__ingredients-spoon
                  .gallery__ingredients-block
                    ul.gallery__ingredients-list
                      li.gallery__ingredients-item мука пшеничная
                        span 200г.
                      li.gallery__ingredients-item яйце продукты
                        span 3 шт.
                      li.gallery__ingredients-item сахарный песок
                        span 20 г.
                      li.gallery__ingredients-item масло сливочное
                        span 50 г.
                      li.gallery__ingredients-item молоко сгущеное
                        span 100 г.
                .gallery__ingredients-title Ингредиенты
            .gallery__data
                .gallery__data-title Срок храненеия:
                .gallery__data-hour 120 Часов
        img.gallery__img(src='images/cake2.png')
    .gallery__right
        .gallery__title Sweet Cupcake
        .gallery__desc В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури
        .gallery__wrap-price
            .gallery__price 199 ¤
            a.gallery__price-btn(href='#') Заказать
    .gallery__btns-controller
        .gallery__btns
            span.gallery__btn a
            span.gallery__btn a
            span.gallery__btn a
            span.gallery__btn a
            span.gallery__btn a
            span.gallery__btn a
      
