section.our-offers
  .container
    div.our-offers__title-group
      h2.our-offers__title Мы поставляем 
      div.our-offers__text Также мы делаем выпечку под заказ для различных праздников и банкетов. Заказать индивидуальныую выпечку вы можете заполнив форму. После с Вами свяжется один из наших поваров и обсудит заказ более детально.
    -var titles = ['Торты', 'Печенье', 'Пончики', 'Рулеты', 'Земфир', 'Шоколад', 'Пироженые', 'Конфеты'];
    -var texts = ['Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами'];
    ul.our-offers__list
      - titles.forEach(function(title) {
        li.our-offers__item
          p.our-offers__item-title=title
          p.our-offers__item-text=texts[0]
      - })
     
        
