section.questions
  .container
    h3.questions__title Часто задаваемые вопросы
    ol.questions__list(type='1')
      li.questions__item 
        a.questions__link(href='#') 1. Сколько по времени курьер доставляет заказ
        div.questions__answer
          p В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту."аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.
          p В допетровской России рассыльные (гонцы) были служилыми людьми, "по приробу" и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почтку - дипкурьерами.
      li.questions__item 
        a.questions__link(href='#') 2. Если курьер опоздал, будут ли какие то бонусы?
        div.questions__answer
          p В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту."аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.
          p В допетровской России рассыльные (гонцы) были служилыми людьми, "по приробу" и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почтку - дипкурьерами.
      li.questions__item 
        a.questions__link(href='#') 3. Добавляете ли вы какие либо консерванты в вашу продукцию?
        div.questions__answer
          p В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту."аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.
          p В допетровской России рассыльные (гонцы) были служилыми людьми, "по приробу" и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почтку - дипкурьерами.
      li.questions__item 
        a.questions__link(href='#') 4. Как долго готовиться у вас индивидуальный торт?
        div.questions__answer
          p В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту."аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.
          p В допетровской России рассыльные (гонцы) были служилыми людьми, "по приробу" и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почтку - дипкурьерами.
  
